
.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e1e2f;
  color: white;
  position: fixed;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  color: #00f2fe;
}