
body{
  
  background: linear-gradient(to right, #4facfe, #e0ecec);
}



.login-container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

button {
  padding: 8px;
  width: 100%;
  background-color: blue;
  color: white;
  border: none;
}